@import url(./tokens.css);
@import url(./typography.css);
@import url(./typography-classes.css);
@import "tailwindcss";

:root {
  /* =========================
     PRIMARY
  ========================= */
  --primary: #5e81f4;
  --primary-dark: #1c1d21;
  --primary-grey: #8181a5;

  /* States */
  --primary-hover: #1c1d211a;
  --primary-outline: #5e81f4;

  /* =========================
     SECONDARY
  ========================= */
  --secondary-yellow: #f4be5e;
  --secondary-green: #7ce7ac;
  --secondary-red: #ff808b;
  --secondary-purple: #9698d6;

  /* Soft variants */
  --secondary-yellow-soft: #fff6e9;
  --secondary-green-soft: #ecfdf3;
  --secondary-red-soft: #fff1f2;
  --secondary-purple-soft: #f1f2ff;

  /* =========================
     BACKGROUND
  ========================= */
  --bg-main: #f6f6f6;
  --bg-light: #f5f5fa;
  --bg-white: #ffffff;

  /* =========================
     OUTLINE / BORDER
  ========================= */
  --outline: #f0f0f3;
  --outline-rest: #efeff2;
  --outline-white: #ffffff;

  /* =========================
     TEXT
  ========================= */
  --text-primary: #1c1d21;
  --text-secondary: #8181a5;
  --text-inverse: #ffffff;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-grey: var(--primary-grey);
  --color-primary-hover: var(--primary-hover);
  --color-primary-outline: var(--primary-outline);
  --color-secondary-yellow: var(--secondary-yellow);
  --color-secondary-green: var(--secondary-green);
  --color-secondary-red: var(--secondary-red);
  --color-secondary-purple: var(--secondary-purple);
  --color-secondary-yellow-soft: var(--secondary-yellow-soft);
  --color-secondary-green-soft: var(--secondary-green-soft);
  --color-secondary-red-soft: var(--secondary-red-soft);
  --color-secondary-purple-soft: var(--secondary-purple-soft);
  --color-bg-main: var(--bg-main);
  --color-bg-light: var(--bg-light);
  --color-bg-white: var(--bg-white);
  --color-outline: var(--outline);
  --color-outline-rest: var(--outline-rest);
  --color-outline-white: var(--outline-white);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-inverse: var(--text-inverse);
}
