/* typography-classes.css */

/* =====================
   HEADINGS
===================== */
.h1 {
  font-size: var(--text-h1-size);
  line-height: var(--text-h1-lh);
  font-weight: var(--text-h1-weight);
}

.h2 {
  font-size: var(--text-h2-size);
  line-height: var(--text-h2-lh);
  font-weight: var(--text-h2-weight);
}

.h3 {
  font-size: var(--text-h3-size);
  line-height: var(--text-h3-lh);
  font-weight: var(--text-h3-weight);
}

.h4 {
  font-size: var(--text-h4-size);
  line-height: var(--text-h4-lh);
  font-weight: var(--text-h4-weight);
}

.h5 {
  font-size: var(--text-h5-size);
  line-height: var(--text-h5-lh);
  font-weight: var(--text-h5-weight);
}

/* =====================
   BODY TEXT
===================== */
.body-lg {
  font-size: var(--text-body-lg-size);
  line-height: var(--text-body-lg-lh);
  font-weight: var(--text-body-lg-weight);
}

.body-md {
  font-size: var(--text-body-md-size);
  line-height: var(--text-body-md-lh);
  font-weight: var(--text-body-md-weight);
}

.body-sm {
  font-size: var(--text-body-sm-size);
  line-height: var(--text-body-sm-lh);
  font-weight: var(--text-body-sm-weight);
}

/* =====================
   BODY BOLD VARIANTS
===================== */
.body-lg-bold {
  font-size: var(--text-body-lg-size);
  line-height: var(--text-body-lg-lh);
  font-weight: var(--fw-bold);
}

.body-md-bold {
  font-size: var(--text-body-md-size);
  line-height: var(--text-body-md-lh);
  font-weight: var(--fw-bold);
}

.body-sm-bold {
  font-size: var(--text-body-sm-size);
  line-height: var(--text-body-sm-lh);
  font-weight: var(--fw-bold);
}

/* =====================
   CAPTION
===================== */
.caption {
  font-size: var(--text-caption-size);
  line-height: var(--text-caption-lh);
  font-weight: var(--text-caption-weight);
}

/* =====================
   BUTTON TEXT
===================== */
.btn-text-lg {
  font-size: var(--btn-label-lg-size);
  line-height: var(--btn-label-lg-lh);
  font-weight: var(--btn-label-lg-weight);
}

.btn-text-sm {
  font-size: var(--btn-label-sm-size);
  line-height: var(--btn-label-sm-lh);
  font-weight: var(--btn-label-sm-weight);
}

/*text */
.text-14 {
  font-size: var(--fs-14);
  line-height: var(--lh-21);
  font-weight: var(--fw-regular);
}
