/* typography-classes.css */
.h1 {
  font-size: var(--text-h1-size);
  line-height: var(--text-h1-lh);
  font-weight: var(--text-h1-weight);
}

.h2 {
  font-size: var(--text-h2-size);
  line-height: var(--text-h2-lh);
  font-weight: var(--text-h2-weight);
}

.h3 {
  font-size: var(--text-h3-size);
  line-height: var(--text-h3-lh);
  font-weight: var(--text-h3-weight);
}
.h4 {
  font-size: var(--text-h4-size);
  line-height: var(--text-h4-lh);
  font-weight: var(--text-h4-weight);
}
.h5 {
  font-size: var(--text-h5-size);
  line-height: var(--text-h5-lh);
  font-weight: var(--text-h5-weight);
}
.body-md {
  font-size: var(--text-body-md-size);
  line-height: var(--text-body-md-lh);
  font-weight: var(--text-body-md-weight);
}

.caption {
  font-size: var(--text-caption-size);
  line-height: var(--text-caption-lh);
  font-weight: var(--text-caption-weight);
}

.btn-text {
  font-size: var(--text-button-size);
  line-height: var(--text-button-lh);
  font-weight: var(--text-button-weight);
}
