/* typography.css */
:root {
  /* Headings */
  --text-h1-size: var(--fs-32);
  --text-h1-lh: var(--lh-42);
  --text-h1-weight: var(--fw-bold);

  --text-h2-size: 26px;
  --text-h2-lh: 38px;
  --text-h2-weight: var(--fw-bold);

  --text-h3-size: var(--fs-24);
  --text-h3-lh: var(--lh-32);
  --text-h3-weight: var(--fw-bold);

  --text-h4-size: var(--fs-18);
  --text-h4-lh: var(--lh-28);
  --text-h4-weight: var(--fw-bold);

  --text-h5-size: var(--fs-16);
  --text-h5-lh: var(--lh-24);
  --text-h5-weight: var(--fw-bold);

  /* Body */
  --text-body-lg-size: var(--fs-16);
  --text-body-lg-lh: var(--lh-24);
  --text-body-lg-weight: var(--fw-regular);

  --text-body-md-size: var(--fs-14);
  --text-body-md-lh: var(--lh-20);
  --text-body-md-weight: var(--fw-regular);

  --text-body-sm-size: var(--fs-12);
  --text-body-sm-lh: var(--lh-16);
  --text-body-sm-weight: var(--fw-regular);

  /* Caption */
  --text-caption-size: var(--fs-12);
  --text-caption-lh: var(--lh-16);
  --text-caption-weight: var(--fw-medium);

  /* Button */
  --text-button-size: var(--fs-14);
  --text-button-lh: var(--lh-20);
  --text-button-weight: var(--fw-semibold);

  /* button lable lg */
  --btn-label-lg: 14px;
  --btn-labe-lg-w: 700;
  --btn-labe-lg-lh: 0px;
  /* button lable lg */
  --btn-label-lg: 12px;
  --btn-labe-lg-w: 700;
  --btn-labe-lg-lh: 0px;
}
